snippet #[ "Macro"
  #[${1}(${2})]${0}

snippet println "println macro"
  println!("${1}");${0}

snippet panic "panic macro"
  panic!("${1}");${0}

snippet assert_eq "assert_eq macro"
  assert_eq!(${1}, ${2});${0}
